<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050184524972-qu1bgb7465uoo64m5qjg8kjnhel800uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050184524972-qu1bgb7465uoo64m5qjg8kjnhel800uj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1050184524972-129armuvorf9epcdk1iaj0rm41b0grdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0aUg3RoCa-B_amB8kFVc7u4oZgtyO1ck</string>
	<key>GCM_SENDER_ID</key>
	<string>1050184524972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitaltApplication</string>
	<key>PROJECT_ID</key>
	<string>digi-talt</string>
	<key>STORAGE_BUCKET</key>
	<string>digi-talt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050184524972:ios:0ee1894e25ee4d0c836b09</string>
	<key>DATABASE_URL</key>
	<string>https://digi-talt-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>